{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="news-box">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Ночной тур в ночь <span>12.12.1901</span></h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum dolor eaque eos, et,
                    eveniet fugiat harum illo labore maxime nostrum odit officiis possimus, praesentium ratione
                    reprehenderit sint tenetur? Explicabo?</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Ночной тур в ночь <span>12.12.1901</span></h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum dolor eaque eos, et,
                    eveniet fugiat harum illo labore maxime nostrum odit officiis possimus, praesentium ratione
                    reprehenderit sint tenetur? Explicabo?</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Ночной тур в ночь <span>12.12.1901</span></h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum dolor eaque eos, et,
                    eveniet fugiat harum illo labore maxime nostrum odit officiis possimus, praesentium ratione
                    reprehenderit sint tenetur? Explicabo?</p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Ночной тур в ночь <span>12.12.1901</span></h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum dolor eaque eos, et,
                    eveniet fugiat harum illo labore maxime nostrum odit officiis possimus, praesentium ratione
                    reprehenderit sint tenetur? Explicabo?</p>
            </div>
        </div>
    </div>
{% endblock %}
