body {
	margin: 0px;
	font-family: 'Roboto Slab', serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1100px;
	height: 100vh;
    margin: auto;
}
.header-block {
	position: relative;
}
.header-video {
	width: 100%;
}
.header-video-text {
	color: white;
	position: absolute;
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	width: 480px;
	padding-left: 5%;
	text-shadow: 2px 3px 0 #0000005e;
}
.header-menu-text {
	display: none;
	width: 100%;
	margin: 5px 20px;
}
.header-menu-text h1 {
	color: white;
	font-size: 33px;
	font-family: 'Playfair Display', serif;
	margin: 0;
}
.header-menu-href {
	height: 50px;
	padding: 7px 20px;
	display: flex;
    align-items: center;
}
.header-menu-href:hover {
	background-color: white;
}
.header-menu .header-menu-href:hover a {
	color: black;
}
.header-menu {
	color: black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: -6px;
	background-color: #45b4f7;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.header-menu a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	border-bottom: none;
	transition: 0.3s;
}

.logo-text {
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	font-size: 50px;
	margin: 0;
}
.modules-block {
	margin: auto;
	margin-top: 0px;
	width: 100%;
}
.modules-block .module {
	width: 100px;
}
.phone {
	font-size: 30px!important;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}
.logo img {
	width: 100px;
	object-fit: contain;
	margin: 0 20px;
}
.modules-block .module img {
	width: 300px;
	margin: 35px;
	box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.51);
}
.modules-block .module:hover span {
	top: 230px;
}
.modules-block .module span {
	position: absolute;
    top: 211px;
    padding: 15px;
    padding-right: 115px;
    margin-left: 19px;
    width: 333px;
    color: white;
    box-shadow:  0px 0px 17px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    border-radius: 5px;
}
.modele__turi span {
	background-color: #398456;
}
.modele__vizas span {
	background-color: #44a6f7fa;
}
.modele__avtobus2 span {
	background-color: #4475f7fa;
}
.modele__pred span {
	background-color: #2a8830fa;
}
.modele__podberite span {
	background-color: #49b6f6;
}
.slick-prev:before,
.slick-next:before {
	color: #45b4f7!important;
}
.module-helpme {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.module-helpme .module-help {
	width: 80%;
	position: relative;
}
.module-helpme .module-help span {
    position: absolute;
    padding: 15px;
    margin-left: 19px;
    margin-top: 20px;
    width: 200px;
    color: white;
    background-color: #44b4f7fa;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    border-radius: 5px;
}
.module-helpme .module-help img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.module-helpme .polojenie {
	display: flex;
}
.polojenie-btn {
	background-color:#4caf50;
	border:none;
	cursor:pointer;
	width: 200px;
	height: 200px;
	color:#ffffff;
	font-size:20px;
	font-family: 'Roboto Slab', serif;
	padding:6px 12px;
}
.polojenie-btn img {
	width: 180px;
}
.social-btns {
	position: absolute;
	font-size: 50px;
	bottom: 10px;
	right: 10px;
}

.fab {
  padding: 20px;
  width: 57px;
  border-radius: 65px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}
.fa-facebook-f:hover {
	box-shadow:0px 0px 100px 3px #3B5998 ;
}
.fa-vk {
  background: #55ACEE;
  color: white;
}
.fa-vk:hover {
  box-shadow:0px 0px 100px 3px #55ACEE ;
}
.fa-instagram {
  background: #ae3ec9;
  color: white;
}
.fa-instagram:hover {
  box-shadow:0px 0px 100px 3px #ae3ec9 ;
}
.fa-odnoklassniki {
  background: #ff6600;
  color: white;
}
.fa-odnoklassniki:hover {
  box-shadow:0px 0px 100px 3px #ff6600 ;
}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 800px) {
	.header-block {
		display: none
	}
	.slick-prev:before,
	.slick-next:before {
		display: none;
	}
	.header-menu {
		padding-bottom: 20px;
		border-radius: 0px;
	}
	.header-menu-text {
		display: block;
	}

	.logo-text {
		margin-bottom: -35px;
	}
	.fab {
		font-size: 17px;
		width: 38px;
		padding: 11px;
	}
}
@media only screen and (max-width: 500px) {
	.module-helpme .module-help {
		width: 100%;
	}
	.module-helpme .module-help img {
	}
	.module-helpme .module-help span {
		padding-right: 0px;
		margin-left: -9px;
		padding-right: 0px;
	}
	.module-helpme {
		flex-direction: column;
	}
	.polojenie-btn {
		width: 100%;
		height: 100px;
	}
	.polojenie-btn img {
		display: none;
	}
	.module-helpme .polojenie {
		width: 100%;
	}
	.logo img {
		display: none;
	}
}