body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

.body-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px auto 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.header-block {
    position: relative;
}

.header-video {
    width: 100%;
}

.header-video-text {
    color: white;
    position: absolute;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    width: 480px;
    padding-left: 5%;
    text-shadow: 2px 3px 0 #0000005e;
}

.logo-header {
    position: absolute;
    height: 70%;
    right: 90px;
    top: 12%;
    border-radius: 300px;
    border: 5px solid white;
}

.header-menu {
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
    min-height: 50px;
    padding: 0 15px;
    background-color: #45b4f7 !important;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

.header-menu button i {
    color: white;
}

#navbar-head {
    justify-content: space-around;
}

.header-menu-text {
    display: none;
    width: 100%;
    margin: 5px 20px;
}

.header-menu-text h1 {
    color: white;
    font-size: 33px;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.header-menu-href {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 10px;
}

.header-menu-href:hover {
    background-color: white;
    box-shadow: 0px 0px 47px -15px rgba(0, 0, 0, 1);

}

.header-menu .header-menu-href:hover a {
    color: black;
}


.header-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-bottom: none;
    transition: 0.3s;
}

.logo-text {
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: black;
    text-decoration: none;
}

.modules-block {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 300px;
    width: 100%;
}

.jumbotron-fluid {
    border-radius: 28px;
    box-shadow: 0px 0px 47px -15px rgba(0, 0, 0, 1);
}

.jumbotron-fluid img {
    margin: 20px 0;
}

.phone {
    font-size: 30px !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 50px 0;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo img {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.modules-block .module img {
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.51);
}

.slider {
    text-align: center;
}

.slider div {
    margin-right: 5px;
}

.slider .module {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 40px;
    width: 70%;
    height: 50px;
    transition: 0.8s;
    left: 15%;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.slider .slick-center .module {
    width: 100%;
    bottom: 10px;
    left: 0;
}

.slick-slide {
    opacity: .6;
    width: 10px;
}

.slide-h3 a {
    display: flex;
    height: 250px;
    position: relative;
}

.slick-center {
    display: block;
    max-width: 10% !important;
    max-height: 20% !important;
    opacity: 1;
}

.slick-slide img {
    width: 150px;
    margin: auto;
    transition: 0.8s;
}

.slick-center img {
    width: 90%;
}

.modules-block .module:hover span {
    top: 230px;
}

.modules-block .module span {
    position: absolute;
    top: 211px;
    padding: 15px;
    padding-right: 115px;
    margin-left: 19px;
    width: 333px;
    color: white;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    border-radius: 5px;
}

.module__podberite {
    background-color: #49b6f6;
}

.module__turi {
    background-color: #398456;
}

.module__vizas {
    background-color: #44a6f7;
}

.module__avtobus2 {
    background-color: #4475f7;
}

.module__pred {
    background-color: #2a8830;
}

img.visas-img {
    object-fit: contain;
}

.slick-prev:before,
.slick-next:before {
    color: #45b4f7 !important;
}

.module-helpme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0;
}

.module-helpme .module-help {
    width: 80%;
    position: relative;
}

.module-helpme .module-help span {
    position: absolute;
    padding: 15px;
    margin-left: 19px;
    margin-top: -10px;
    width: 200px;
    color: white;
    background-color: #44b4f7fa;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    border-radius: 5px;
}

.module-helpme .module-help img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.module-helpme .polojenie {
    display: flex;
}

.polojenie-btn {
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 200px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    padding: 6px 12px;
}

.polojenie-btn img {
    width: 180px;
}

.social-btns {
    position: absolute;
    font-size: 50px;
    bottom: 10px;
    right: 10px;
}

.fab {
    padding: 20px;
    width: 57px;
    border-radius: 65px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.fa-facebook-f {
    background: #3B5998;
    color: white;
}

.fa-facebook-f:hover {
    box-shadow: 0px 0px 100px 3px #3B5998;
}

.fa-vk {
    background: #55ACEE;
    color: white;
}

.fa-vk:hover {
    box-shadow: 0px 0px 100px 3px #55ACEE;
}

.fa-instagram {
    background: #ae3ec9;
    color: white;
}

.fa-instagram:hover {
    box-shadow: 0px 0px 100px 3px #ae3ec9;
}

.fa-odnoklassniki {
    background: #ff6600;
    color: white;
}

.fa-odnoklassniki:hover {
    box-shadow: 0px 0px 100px 3px #ff6600;
}

.ya-map {
    margin: 50px 0;
    width: 100%;
}

.feedback-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.feedback-box .card {
    margin: 25px;
}

.feedback-form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

.form-box div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.form-box .g-recaptcha, .form-box input[type="submit"] {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
}

.form-box input[type="submit"] {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
    background-color: #44b4f7fa;
    border: none;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.form-box input, .form-box textarea {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.55);
    width: 70%;
    border-radius: 3px;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.feedback-form .form-button {
    background-color: white;
    border: 1px solid black;
    box-shadow: none;
    margin: 10px 0;
}

.news-box {
    display: flex;
    flex-direction: column;
}

.news-box h1 span {
    font-size: 18px;
    float: right;
}

.contacts-box {

}

.mobile {
    display: none;
}

.home {
    display: flex;
}


@media only screen and (max-width: 990px) {
    .mobile {
        display: flex;
    }

    .home {
        display: none;
    }

    body {
        height: unset !important;
    }

    .wrapper {
        height: unset !important;
    }

    .body-box {
        width: 90%;
        height: unset;
    }

    .logo-img {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 15px;
    }

    .logo-img img {
        width: 150px;
        height: 150px;
    }

    .social-btns {
        position: unset;
        justify-content: center;
        margin-bottom: 25px;
    }

    .modules-block {
        width: 100%;
    }

    .module-helpme {
        width: 100%;
        flex-direction: column;
    }

    .module-helpme .module-help {
        width: 100%;
    }

    .module-helpme .module-help img {
    }

    .module-helpme .module-help span {
        padding-right: 0px;
        margin-left: -9px;
        padding-right: 0px;
    }

    .header-block {
        display: none
    }

    .header-menu a {
        font-size: 20px;
    }

    .phone {
        font-size: 20px !important;
    }

    .polojenie-btn img {
        display: none;
    }

    .module-helpme .polojenie {
        width: 100%;
    }

    .polojenie-btn {
        width: 100%;
        height: 100px;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    .header-menu {
        border-radius: 0px;
        justify-content: space-between;
        padding: 15px;
        height: unset;
    }

    .header-menu-text {
        display: block;
    }

    .logo-text {
        margin-bottom: -35px;
    }

    .fab {
        font-size: 17px;
        width: 38px;
        padding: 11px;
    }

    .slider .module {
        left: 35px;
        width: 70%;
    }

    .slick-slide img {
        width: 150px;
        margin: auto;
        transition: 0.5s;
    }

    .slick-center img {
        width: 200px;
    }

    .news-box h1 {
        font-size: 1.5rem;
    }

    .news-box p {
        font-size: 0.95rem;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }

    h2, h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    .slick-slide img {
        width: 70px;
    }

    .slick-center img {
        width: 100px;
    }

    .slider div {
        font-size: 12px;
    }

    .slider .module {
        height: 30px;
        bottom: 80px;
    }

    .slider .slick-center .module {
        bottom: 65px;
    }

    .slider .module {
        left: 0;
        width: 100%;
    }

    .ya-map {
        height: 300px;
    }
}

