{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <h1>О компании</h1>
    <hr>
    <p>
        Обычно в разделе "О компании" пишут такие слова как: внимательный подход к каждому клиенту, высокое качество
        обслуживания, профессионализм и прочие само собой разумеющиеся вещи. По нашему мнению, сказать о себе хорошо -
        это
        несложно и не нужно. А вот работать так, чтобы за многие годы нареканий на твою работы попросту не было, а
        репутация
        и имя компании становились бы более весомыми не за счет самопиара, а за счет результатов нашей работы .
    </p>
    <p>
        Например, мы считаем очень показательным, что самым эффективным видом рекламы (эффективней любого другого вида в
        разы, если не в десятки раз) для нас является "сарафанное радио". Нас рекомендуют друзьям и знакомым. И к нашему
        профессиональному счастью - в абсолютном большинстве случаев наши туристы возвращаются к нам снова и снова.
    </p>
    <p>
        Именно такое развитие - наша цель. Хватит мечтать –пора отдыхать!
    </p>
    <p>
        СЛАВАТУР – <b>Ваш личный туристический консультант.</b> В отличие от многих других компаний, мы предоставляем нашим
        клиентам тройную услугу:

    <ul>
        <li>Консультируем по имеющимся на тот или иной момент времени на туристическом рынке предложениям,
            дополнительным возможностям и скидкам по всем популярным направлениям. Мы современны, надежны и больше всего
            дорожим своей репутацией. <b>Все лучшее и актуальное Вы без труда найдете у нас.</b>
        </li>
        <li>Должным образом и в сроки оформляем подобранные Вами туры. Наше отношение к клиентам не зависит от суммы
            выбранного ими тура. <b>Для нас, важен и дорог каждый клиент.</b>
        </li>
        <li>Доставляем оформленные документы и путевки в удобное Вам место и время. Вы не теряете свое драгоценное
            время, а мы рады помочь Вам хорошо отдохнуть.
        </li>
    </ul>
    </p>
{% endblock %}
