{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <h1>О компании</h1>
    <hr>

    <p><b>Турагентство «Славатур»</b> стремится предоставить каждому клиенту качественный туристический продукт по
        минимальной
        цене.</p>
    <p>Мы современны, надежны и больше всего дорожим своей репутацией.</p>
    <p>С нами надежно! Мы работаем честно, платим налоги и отвечаем по своим обязательствам. Наши клиенты защищены
        законами
        и страховыми обязательствами туроператоров.</p>
    <hr>
    <p>Для нашей компании самый эффективный вид рекламы «сарафанное радио». Нас рекомендуют друзьям и знакомым. И к
        нашему
        профессиональному счастью – в абсолютном большинстве случаем наши туристы возвращаются к нам снова и снова.</p>
    <p>Наше отношение к клиентам не зависит от суммы выбранного ими тура.</p>
    <hr>
    <p><b>Для нас, важен и дорог каждый клиент.</b></p>

    <p><b>Турагентство СЛАВАТУР – ваш личный туристический консультант.</b></p>
    <p>Мы предоставляем следующие услуги:</p>
    <ul>
        <li>Оформляем тур из любого города онлайн.</li>
        <li>Консультируем по имеющимся на тот или иной момент времени на туристическом рынке предложениям,
            дополнительным
            возможностям и скидкам по всем популярным направлениям.
        </li>
        <li>Должным образом и в сроки оформляем подобранные вами туры.</li>
        <li>Доставляем оформленные документы и путевки в удобное Вам место и время. Вы не теряете свое драгоценное
            время, а мы
            рады помочь Вам хорошо отдохнуть.
        </li>
    </ul>

    <p><b>Все лучшее и актуальное Вы без труда найдете у нас.</b></p>
{% endblock %}
