<!DOCTYPE html>
<html>
<head>
    <title>Славатур</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i|Roboto+Slab|Vollkorn+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slavatur/css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slavatur/css/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slavatur/css/slick-theme.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static 'slavatur/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'slavatur/img/slavatur_favicon.png' %}" type="image/png">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(49098304, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/49098304" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body style="height: {% if height %} 100vh {% endif %}">
<div class="wrapper">
    <div class="header-block">
        <h1 class="header-video-text">Хватит мечтать – пора отдыхать!</h1>
        <img class="home logo-header" src="{% static 'slavatur/img/logo_resize.png' %}" alt="">
        <video class="header-video" src="{% static 'slavatur/img/slav_video.mp4' %}" autoplay muted loop poster="{% static 'slavatur/img/poster.png' %}"></video>
    </div>
    <div class="logo-img mobile">
        <img src="{% static 'slavatur/img/logo_resize.png' %}" alt="">
    </div>
    <div class="social-btns mobile">
        <a class="btn facebook"
           href="https://www.facebook.com/people/%D0%9D%D0%B0%D1%82%D0%B0%D0%BB%D1%8C%D1%8F-%D0%A3%D0%BB%D1%8C%D1%8F%D0%BD%D0%BE%D0%B2%D0%B0-%D0%90%D0%BB%D1%8C%D1%82%D0%B5%D1%80%D0%B3%D0%BE%D1%82/100001624047126">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn odnoklassniki" href="https://ok.ru/group54223304917072">
            <i class="fab fa-odnoklassniki"></i>
        </a>
        <a class="btn vk" href="https://vk.com/club166285729">
            <i class="fab fa-vk"></i>
        </a>
        <a class="btn instagram" href="https://www.instagram.com/slavaturekb/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <nav class="navbar navbar-expand-lg header-menu">
        <a class="nav-link home" href="/about">О компании</a>
        <a class="mobile" href="/"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-head"
                aria-controls="navbar-head" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbar-head">
            <ul class="navbar-nav ">
                <li class="nav-item header-menu-href">
                    <a class="home" href="/"><i class="fas fa-home"></i></a>
                    <a class="nav-link mobile" href="/about">О компании</a>
                </li>
                <li class="nav-item header-menu-href">
                    <a class="nav-link" href="/news">Новости</a>
                </li>
                <li class="nav-item header-menu-href">
                    <a class="nav-link" href="/feedback">Отзывы</a>
                </li>
                <li class="nav-item header-menu-href">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                <li class="nav-item header-menu-href">
                    <a class="nav-link" href="tel:89224732752" class="phone">8 (922) 473-27-52</a>
                </li>
                <li class="nav-item header-menu-href">
                    <a class="nav-link" href="tel:3725286" class="phone">8 (343) 372-52-86</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="body-box">
        {% block content %}
        {% endblock %}
        <div class="module-helpme">
            <div class="module-help">
                <a href="/search/help">
                    <span>Подбор тура</span>
                    <img src="{% static 'slavatur/img/footer.png' %}">
                </a>
                <div class="social-btns home">
                    <a class="btn facebook"
                       href="https://www.facebook.com/people/%D0%9D%D0%B0%D1%82%D0%B0%D0%BB%D1%8C%D1%8F-%D0%A3%D0%BB%D1%8C%D1%8F%D0%BD%D0%BE%D0%B2%D0%B0-%D0%90%D0%BB%D1%8C%D1%82%D0%B5%D1%80%D0%B3%D0%BE%D1%82/100001624047126">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn odnoklassniki" href="https://ok.ru/group54223304917072">
                        <i class="fab fa-odnoklassniki"></i>
                    </a>
                    <a class="btn vk" href="https://vk.com/club166285729">
                        <i class="fab fa-vk"></i>
                    </a>
                    <a class="btn instagram" href="https://www.instagram.com/slavaturekb/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="polojenie">
                <button class="polojenie-btn">
                    <img src="{% static 'slavatur/img/dogovor.jpg' %}">
                    Положение оператора
                </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ПОЛОЖЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <p class="modal-title">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ УЛЬЯНОВА НАТАЛЬЯ АЛЕКСАНДРОВНА
                </p>
                <p>
                    Положение об обработке и защите персональных данных Клиентов от 01.12.2010 в редакции от
                    10.05.2018</p>
            </div>
            <div class="modal-body">
                <p>
                    <br>
                    <strong>Статья 1. ОБЩИЕ ПОЛОЖЕНИЯ</strong><br>
                    <br>
                    1.1.Настоящим Положением об обработке и защите персональных данных Клиентов (далее - Положение)
                    устанавливается порядок обработки персональных данных Клиентов, для которых ИП Ульянова Н.А. (далее
                    по тексту - Турагент) осуществляет бронирование и реализацию туристского продукта, сформированного
                    туроператором (туроператор - юридическое лицо, состоящее в Едином федеральном реестре туроператоров,
                    с которым Турагент заключил письменный договор о реализации туристского продукта, и который
                    формирует и предоставляет Турагенту туристский продукт, в интересах исполнения Турагентом
                    обязательств по договору с Клиентом).<br>
                    1.2.&nbsp;Цель данного Положения - обеспечение требований защиты прав Клиентов при обработке их
                    персональных данных ИП Ульяновой Н.А&nbsp;<br>
                    1.3.&nbsp;Персональные данные не могут быть использованы Турагентом или его сотрудниками в целях
                    причинения имущественного и морального вреда Клиентам, затруднения реализации их прав и свобод.<br>
                    1.4.ИП Ульянова Н.А. обязана осуществлять обработку персональных данных только на законной и
                    справедливой основе.&nbsp;<br>
                    1.5.Обработка персональных данных Клиентов должна ограничиваться достижением законных, конкретных и
                    заранее определенных в договоре с Клиентами целей. Обработке подлежат только те персональные данные
                    Клиентов, и только в том объеме, которые отвечают целям их обработки, определенным в договоре с
                    Клиентами или законодательством Российской Федерации.&nbsp;<br>
                    1.6.&nbsp;Обрабатываемые персональные данные Клиентов подлежат уничтожению либо обезличиванию по
                    достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не
                    предусмотрено законодательством Российской Федерации.&nbsp;<br>
                    1.7.&nbsp;Настоящее Положение и изменения к нему утверждаются Индивидуальным предпринимателем и
                    вводятся приказом. Все сотрудники ИП Ульянова Н.А. должны быть ознакомлены под подпись с данным
                    Положением и изменениями к нему. Настоящее Положение является обязательным для исполнения всеми
                    сотрудниками Индивидуального предпринимателя, имеющими доступ к персональным данным
                    Клиентов.&nbsp;<br>
                    <br>
                    <strong>Статья 2. ПОНЯТИЕ И СОСТАВ ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТА&nbsp;</strong><br>
                    <br>
                    2.1.&nbsp;Под Клиентами Турагента в интересах настоящего Положения понимаются: физические лица
                    (субъекты персональных данных), заключившие с Турагентом договор на реализацию туристского продукта,
                    формируемого туроператором. В данных правоотношениях с Клиентами Турагент по терминологии
                    Федерального закона № 152-ФЗ от 27 июля 2006 года "О персональных данных" (далее по тексту - Закон
                    "О персональных данных") выступает в качестве оператора персональных данных; физические лица
                    (субъекты персональных данных), от имени которых заказчик (который приобретал туристский продукт в
                    том числе для лиц, интересы которых он представляет, при условии, что заказчик предоставил оператору
                    - Турагенту основания правомерности его действий в чужом интересе) туристского продукта заключил с
                    Турагентом договор на реализацию туристского продукта, который формируется туроператором. В данных
                    правоотношениях с Клиентами Турагент по терминологии Закона "О персональных данных" выступает в
                    качестве оператора персональных данных. В правоотношениях, указанных в п.2.1. ст.2. настоящего
                    Положения туроператор по терминологии Закона "О персональных данных" выступает в качестве третьего
                    лица, которому оператор персональных данных - Турагент на договорной основе поручил обработку
                    персональных данных Клиентов с их согласия и на основании договора, заключенного между Турагентом и
                    Клиентом или заказчиком.&nbsp;<br>
                    2.2.&nbsp;Под персональными данными Клиента понимается любая информация о субъекте персональных
                    данных, необходимая Турагенту в связи с исполнением им договорных обязательств перед Клиентом.&nbsp;<br>
                    2.3.Состав персональных данных Клиента, обработка которых осуществляется Турагентом, включает в себя
                    в основном следующие документы и сведения: фамилия, имя, отчество; фамилия при рождении (либо другие
                    фамилии, если были); фамилия, имя в латинской транскрипции, как они указаны в заграничном паспорте;
                    год, месяц и число рождения; место рождения; гражданство при рождении; гражданство в настоящее
                    время; пол; семейное положение; фамилия, имя отца; фамилия, имя матери; данные об общегражданском
                    паспорте РФ (серия и номер общероссийского паспорта, дата его выдачи, наименование органа, выдавшего
                    паспорт, срок действия общероссийского паспорта либо свидетельства о рождении); данные о заграничном
                    паспорте РФ (серия и номер заграничного паспорта, дата его выдачи, наименование органа, выдавшего
                    паспорт, срок действия); свидетельства о рождении (для несовершеннолетних граждан); адрес
                    регистрации; адрес электронной почты; домашний и контактный (мобильный) телефоны; данные о
                    работодателе и работе (наименование, адрес и телефон работодателя, должность в настоящее время,
                    размер заработной платы); данные об учебном заведении - для школьников и студентов (наименование,
                    адрес и телефон учебного заведения); изображение (фотография) Клиента(обработка необходима для
                    исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому
                    является субъект персональных данных, с целью исполнению договорного поручения Клиента по получению
                    для него визы для въезда в страну планируемого посещения (см. под п.5., п.1.; п.4. ст.6.
                    Федерального закона "О персональных данных"); сведения о получении пенсии и о том, кто оплачивает
                    поездку пенсионеру (для пенсионеров); даты прошлых выездов в страну планируемого посещения или в
                    группу определенных стран; сведения о прошлых депортациях из страны планируемого посещения либо иных
                    нарушений законодательства иностранных государств; копии претензий и исковых заявлений, относящиеся
                    к Клиентам; копии ответов на претензии и копии возражений на исковые заявления, относящиеся к
                    Клиентам; иные сведения о Клиенте, которые он сообщает о себе в связи с особенностями планируемого
                    им путешествия, или в связи с требованиями, которые предъявляются к информации о Клиенте
                    консульскими службами посольств стран планируемого посещения для рассмотрения вопроса о выдаче визы,
                    либо страховыми компаниями в интересах заключения договора, выгодоприобретателем по которому
                    является Клиент.&nbsp;<br>
                    2.4.Турагент получает персональные данные Клиента только ниже указанным образом: от субъекта
                    персональных данных - Клиента, на основании заключения с Клиентом письменного договора о реализации
                    туристского продукта; от заказчика туристского продукта (субъекта персональных данных), выступающего
                    также на законном основании представителем других субъектов персональных данных - Клиентов,
                    указанных в договоре о реализации туристского продукта, и являющихся выгодоприобретателями по
                    договору между Турагентом и заказчиком.&nbsp;<br>
                    <br>
                    <strong>Статья 3. КОНФИДЕНЦИАЛЬНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ&nbsp;</strong><br>
                    <br>
                    3.1.&nbsp;Документы и сведения, перечисленные в статье 2 Положения, и содержащие информацию о
                    персональных данных Клиентов, являются конфиденциальными. Турагент обеспечивает конфиденциальность
                    персональных данных, и обязан не допускать их распространения без согласия Клиентов, либо наличия
                    иного законного основания.&nbsp;<br>
                    3.2.&nbsp;Все меры конфиденциальности при сборе, обработке и хранении персональных данных Клиента
                    распространяются как на бумажные, так и на электронные (автоматизированные) носители информации.&nbsp;<br>
                    3.3.&nbsp;Если Турагент с согласия Клиента поручает обработку персональных данных Клиента третьему
                    лицу, то Турагент обязан на договорной основе обременить это третье лицо обязанностью соблюдения
                    конфиденциальности персональных данных Клиента.&nbsp;<br>
                    <br>
                    <strong>Статья 4. ПРАВА И ОБЯЗАННОСТИ КЛИЕНТА&nbsp;</strong><br>
                    <br>
                    4.1.&nbsp;Клиент обязан передавать Турагенту достаточные, достоверные, документированные
                    персональные данные, полный состав которых установлен в договорах на реализацию туристского
                    продукта, заключенных между Клиентом и Турагентом.&nbsp;<br>
                    4.2.&nbsp;Клиент должен без неоправданной задержки сообщать Турагенту об изменении своих
                    персональных данных.&nbsp;<br>
                    4.3.&nbsp;Клиент имеет право на получение сведений об туроператоре, о месте его нахождения, о
                    наличии у Турагента персональных данных, относящихся к Клиенту, а также на ознакомление с такими
                    персональными данными.&nbsp;<br>
                    4.4.&nbsp;Клиент имеет право на получение информации, касающейся обработки его персональных данных,
                    в том числе содержащей:&nbsp;<br>
                    подтверждение факта обработки персональных данных Турагентом;&nbsp;<br>
                    правовые основания и цели обработки персональных данных; цели и применяемые оператором способы
                    обработки персональных данных;&nbsp;<br>
                    сроки обработки персональных данных, в том числе сроки их хранения;&nbsp;<br>
                    информацию об осуществленной или о предполагаемой трансграничной передаче данных;&nbsp;<br>
                    наименование третьего лица или фамилию, имя, отчество и адрес лица, осуществляющего обработку
                    персональных данных по договору с Турагентом;&nbsp;<br>
                    иные сведения, предусмотренные федеральными законами.&nbsp;<br>
                    4.5.&nbsp;Клиент вправе требовать от Турагента уточнения его персональных данных, их блокирования
                    или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными,
                    незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать
                    предусмотренные законом меры по защите своих прав.&nbsp;<br>
                    4.6.&nbsp;Сведения о наличии персональных данных должны быть предоставлены Клиенту в доступной
                    форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам
                    персональных данных.&nbsp;<br>
                    4.7.&nbsp;Доступ к своим персональным данным предоставляется Клиенту или его законному представителю
                    Турагентом при обращении либо при получении запроса. Запрос должен содержать номер основного
                    документа, удостоверяющего личность Клиента или его законного представителя, сведения о дате выдачи
                    указанного документа и выдавшем его органе и собственноручную подпись Клиента или его законного
                    представителя. Запрос может быть направлен в электронной форме и подписан электронной цифровой
                    подписью в соответствии с законодательством РФ.&nbsp;<br>
                    4.8.&nbsp;Согласие на обработку персональных данных может быть отозвано Клиентом.&nbsp;<br>
                    4.9.&nbsp;Если Клиент считает, что Турагент осуществляет обработку его персональных данных с
                    нарушением требований Закона "О персональных данных" или иным образом нарушает его права и свободы,
                    Клиент вправе обжаловать действия или бездействие Турагента в уполномоченный орган по защите прав
                    субъектов персональных данных или в судебном порядке.&nbsp;<br>
                    4.10.&nbsp;Клиент имеет право на защиту своих прав и законных интересов, в том числе на возмещение
                    убытков и компенсацию морального вреда в судебном порядке.&nbsp;<br>
                    <br>
                    <strong>Статья 5. ОБЯЗАННОСТИ ТУРАГЕНТА ПРИ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ&nbsp;</strong><br>
                    <br>
                    5.1.&nbsp;Турагент осуществляет обработку персональных данных Клиентов, указанных в п. 2.1. статьи 2
                    настоящего Положения, только по ниже следующим основаниям:&nbsp;<br>
                    обработка персональных данных Клиентов необходима для осуществления и выполнения возложенных
                    Федеральным законом № 132-ФЗ от 24.11.1996 года "Об основах туристской деятельности в Российской
                    Федерации" на Индивидуального предпринимателя, как на турагента, функций, полномочий и обязанностей;&nbsp;<br>
                    обработка персональных данных необходима для исполнения договора, стороной которого либо
                    выгодоприобретателем или поручителем по которому является Клиент, а также для заключения договора по
                    инициативе Клиента или договора, по которому Клиент будет являться выгодоприобретателем или
                    поручителем;&nbsp;<br>
                    обработка персональных данных Клиента необходима для осуществления прав и законных интересов
                    Турагента или иных третьих лиц при соблюдении условия, что при этом не нарушаются права и свободы
                    Клиента;&nbsp;<br>
                    осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым
                    предоставлен самим Клиентом либо по его просьбе.&nbsp;<br>
                    5.2.&nbsp;Турагент вправе поручить обработку персональных данных третьему лицу с согласия Клиента,
                    на основании заключенного с этим третьим лицом договора. В этом случае Турагент должен на договорной
                    основе обязать третье лицо, осуществляющее обработку персональных данных по поручению Турагента,
                    соблюдать принципы и правила обработки персональных данных, предусмотренные Законом "О персональных
                    данных" и настоящим Положением.&nbsp;<br>
                    5.3.&nbsp;В договоре Турагента с третьим лицом должны быть определены:&nbsp;<br>
                    перечень действий (операций) с персональными данными, которые будут совершаться третьим лицом,
                    осуществляющим обработку персональных данных Клиента;&nbsp;<br>
                    цели обработки персональных данных Клиента;&nbsp;<br>
                    обязанность третьего лица соблюдать конфиденциальность персональных данных и обеспечивать
                    безопасность персональных данных при их обработке;&nbsp;<br>
                    требования к защите обрабатываемых персональных данных в соответствии с Законом "О персональных
                    данных".&nbsp;<br>
                    5.4.&nbsp;Если Турагент поручает обработку персональных данных Клиента третьему лицу, то
                    ответственность перед Клиентом за действия указанного лица несет непосредственно Турагент.&nbsp;<br>
                    5.5.&nbsp;При определении объема и содержания персональных данных Клиента, подлежащих обработке,
                    Турагент обязан руководствоваться Федеральным законом № 152-ФЗ от 27 июля 2006 года "О персональных
                    данных", Федеральным законом № 132-ФЗ от 24.11.1996 года "Об основах туристской деятельности в
                    Российской Федерации", договорными обязательствами, взятыми на себя сторонами по договору между
                    Клиентом - Турагентом. Турагент получает персональные данные Клиентов только в объеме, необходимом
                    для достижения целей, указанных в договоре с Клиентом.&nbsp;<br>
                    5.6.&nbsp;Заключая с Клиентом договор о реализации турпродукта Турагент должен письменно уведомлять
                    Клиента о передаче его персональных данных для обработки туроператору. (см.под п.1, п.4.ст.18.
                    Закона "О персональных данных"; см. ст.ст.10., 10.1. ФЗ № 132-ФЗ от 24.11.1996 года "Об основах
                    туристской деятельности в Российской Федерации").&nbsp;<br>
                    5.7.&nbsp;Турагент не имеет права получать и обрабатывать персональные данные Клиента о его
                    судимости, политических, религиозных и иных убеждениях и частной жизни.&nbsp;<br>
                    5.8.&nbsp;Турагент не должен получать и обрабатывать персональные данные Клиента о его членстве в
                    общественных объединениях или его профсоюзной деятельности, если только эти данные не связаны с
                    задачами и требованиями Клиента по организации его путешествия.&nbsp;<br>
                    5.9.&nbsp;Турагент получает по инициативе Клиента персональные данные Клиента о его членстве в
                    общественных объединениях или его профсоюзной деятельности только на бумажных носителях, и ведет их
                    обработку без использования средств автоматизации.&nbsp;<br>
                    5.10.&nbsp;Турагент не должен запрашивать информацию о состоянии здоровья Клиента, за исключением
                    тех сведений, которые относятся к вопросу организации безопасного отдыха для Клиента либо заключения
                    от имени Клиента договоров страхования.&nbsp;<br>
                    5.11.Турагент получает по инициативе Клиента персональные данные Клиента о состоянии его здоровья
                    только на бумажных носителях, и ведет их обработку без использования средств
                    автоматизации.&nbsp;<br>
                    5.12.Турагент не имеет права собирать и обрабатывать биометрические персональные данные Клиентов.&nbsp;<br>
                    5.13.&nbsp;Турагент получает от Клиента по его инициативе фотографии Клиента для получения въездных
                    виз и ведет их обработку только на бумажных носителях без использования средств автоматизации.&nbsp;<br>
                    5.14.&nbsp;Фотографии, которые Турагент получает от Клиента, не удовлетворяют требованиям ГОСТ
                    РИСО/МЭК 19794-5-2006, и их следует считать не биометрическими персональными данными Клиента, а
                    "Изображением гражданина". Обработка "Изображений гражданина" должна осуществляться согласно нормам
                    статьи 152.1 ГК РФ.&nbsp;<br>
                    <br>
                    <strong>Статья 6. ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТОВ&nbsp;</strong><br>
                    <br>
                    6.1.&nbsp;Защите подлежат следующие объекты персональные данные Клиентов, если только с них на
                    законном основании не снят режим конфиденциальности: документы, содержащие персональные данные
                    Клиента; бумажные носители, содержащие персональные данные Клиентов; информация, содержащая
                    персональные данные Клиентов, размещенная на электронных носителях.&nbsp;<br>
                    6.2.&nbsp;Турагент в интересах обеспечения выполнения обязанностей, возложенных на него Законом "О
                    персональных данных" и другими нормативными актами, регламентирующими деятельность юридических лиц
                    по обработке персональных данных, принимает меры, предусмотренные настоящим Положением, Положение об
                    обработке и защите персональных данных Работников и Положением о мерах по организации защиты
                    информационных систем персональных данных.&nbsp;<br>
                    6.3. Общую организацию защиты персональных данных Клиентов осуществляет Индивидуальный
                    предприниматель.&nbsp;<br>
                    6.4. Индивидуальный предприниматель обеспечивает: ознакомление сотрудников под роспись с настоящим
                    Положением; истребование с сотрудников письменного обязательства о соблюдении конфиденциальности
                    персональных данных Клиента и соблюдении правил их обработки; ознакомление сотрудников под роспись с
                    приказами и внутренними локальными нормативными актами, регламентирующими обработку и защиту
                    персональных данных в Турфирме.&nbsp;<br>
                    6.5.&nbsp;Защита информационных систем Индивидуального предпринимателя Поздеева Д. Н, в которых
                    обрабатываются персональные данные Клиентов, от несанкционированного, в том числе случайного,
                    доступа к персональным данным, результатом которого могут стать уничтожение, изменение,
                    блокирование, копирование, предоставление, распространение персональных данных, а также иные
                    неправомерные действия при их обработке, осуществляется в соответствии с Приказом ФСТЭК России от
                    18.02.2013 N 21 "Об утверждении Состава и содержания организационных и технических мер по
                    обеспечению безопасности персональных данных при их обработке в информационных системах персональных
                    данных"&nbsp;<br>
                    6.6.&nbsp;Доступ к персональным данным Клиента имеют сотрудники Турагента, которым персональные
                    данные необходимы в связи с исполнением ими трудовых обязанностей согласно перечню должностей,
                    утверждаемого приказом индивидуального предпринимателя.&nbsp;<br>
                    6.7.&nbsp;В целях выполнения порученного задания и на основании служебной записки с положительной
                    резолюцией директора, доступ к персональным данным Клиента может быть предоставлен иному сотруднику,
                    должность которого не включена в Перечень должностей сотрудников, имеющих доступ к персональным
                    данным Клиента, и которым они необходимы в связи с исполнением трудовых обязанностей.&nbsp;<br>
                    6.8.&nbsp;Процедура оформления доступа к персональным данным Клиента включает в себя: ознакомление
                    сотрудника под роспись с настоящим Положением. При наличии иных нормативных актов (приказы,
                    распоряжения, инструкции и т.п.), регулирующих обработку и защиту персональных данных Клиента, с
                    данными актами также производится ознакомление под роспись; истребование с сотрудника (за
                    исключением директора) письменного обязательства о соблюдении конфиденциальности персональных данных
                    Клиентов и соблюдении правил их обработки.&nbsp;<br>
                    6.9.&nbsp;Сотрудник Турагента, имеющий доступ к персональным данным Клиентов в связи с исполнением
                    трудовых обязанностей: обеспечивает хранение информации, содержащей персональные данные Клиента,
                    исключающее доступ к ним третьих лиц; в отсутствие сотрудника на его рабочем месте не должно быть
                    документов, содержащих персональные данные Клиентов; при уходе в отпуск, во время служебной
                    командировки и иных случаях длительного отсутствия сотрудника на своем рабочем месте, он обязан
                    передать документы и иные носители, содержащие персональные данные Клиентов лицу, на которое
                    приказом Индивидуального предпринимателя будет возложено исполнение его трудовых обязанностей. В
                    случае если такое лицо не назначено, то документы и иные носители, содержащие персональные данные
                    Клиентов, передаются другому сотруднику, имеющему доступ к персональным данным Клиентов по указанию
                    индивидуального предпринимателя.&nbsp;<br>
                    6.10. При увольнении сотрудника, имеющего доступ к персональным данным Клиентов, документы и иные
                    носители, содержащие персональные данные Клиентов, передаются другому сотруднику, имеющему доступ к
                    персональным данным Клиентов по указанию индивидуального предпринимателя.&nbsp;<br>
                    6.11.&nbsp;Допуск к персональным данным Клиента других сотрудников Турагента, не имеющих надлежащим
                    образом оформленного доступа, запрещается.&nbsp;<br>
                    6.12.&nbsp;Документы, содержащие персональные данные Клиентов, хранятся в запирающихся шкафах,
                    обеспечивающих защиту от несанкционированного доступа. В конце рабочего дня все документы,
                    содержащие персональные данные Клиентов, помещаются в шкафы, обеспечивающие защиту от
                    несанкционированного доступа.&nbsp;<br>
                    6.13.&nbsp;Защита доступа к электронным носителям, содержащим персональные данные Клиентов,
                    обеспечивается, в том числе: организацией контроля доступа в помещения информационной системы
                    посторонних лиц; использованием лицензированных антивирусных и антихакерских программ, не
                    допускающих несанкционированный доступ к персональным данным; разграничением прав доступа с
                    использованием учетной записи; установлением правил доступа к персональным данным, обрабатываемым в
                    информационной системе персональных данных, а также обеспечением регистрации и учета всех действий,
                    совершаемых с персональными данными в информационной системе персональных данных; учетом машинных
                    носителей персональных данных; обнаружением фактов несанкционированного доступа к персональным
                    данным и принятием соответствующих мер; контролем эффективности принимаемых мер по обеспечению
                    защищенности персональных данных.&nbsp;<br>
                    6.14.Копировать и делать выписки персональных данных Клиента разрешается исключительно в служебных
                    целях.&nbsp;<br>
                    6.15.&nbsp;Ответы на письменные запросы других организаций и учреждений о персональных данных
                    Клиентов даются только с письменного согласия самого Клиента, если иное не установлено
                    законодательством. Ответы оформляются в письменном виде, на бланке Турагента, и в том объеме,
                    который позволяет не разглашать излишний объем персональных данных Клиента.&nbsp;<br>
                    <br>
                    <strong>Статья 7. ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТОВ&nbsp;</strong><br>
                    <br>
                    7.1.&nbsp;Обработка персональных данных Клиента осуществляется Турагентом исключительно для
                    достижения целей, определенных письменными договорами между Клиентом - Турагентом, в частности для
                    оказания услуг Клиенту по подбору, бронированию и предоставлению ему туристского продукта.&nbsp;<br>
                    7.2.&nbsp;Обработка персональных данных Турагентом в интересах Клиента заключается в получении,
                    систематизации, накоплении, хранении, уточнении (обновлении, изменении), использовании,
                    распространении, обезличивании, блокировании, уничтожении и в защите от несанкционированного доступа
                    персональных данных Клиентов.&nbsp;<br>
                    7.3.&nbsp;Обработка персональных данных Клиентов ведется смешанным методом (в том числе
                    автоматизированной) обработки.&nbsp;<br>
                    7.4.&nbsp;К обработке персональных данных Клиента могут иметь доступ только сотрудники Турагента,
                    допущенные к работе с персональными данными Клиента.&nbsp;<br>
                    7.5.&nbsp;Согласие на обработку персональных данных может быть отозвано Клиентом. В случае отзыва
                    Клиентом согласия на обработку персональных данных Турагент вправе продолжить обработку персональных
                    данных без согласия Клиента при наличии следующих оснований: обработка персональных данных
                    необходима для осуществления и выполнения возложенных на Турагента Федеральным законом № 132-ФЗ от
                    24.11.1996 года "Об основах туристской деятельности в Российской Федерации" функций, полномочий и
                    обязанностей; обработка персональных данных Клиента необходима для исполнения договора, стороной
                    которого либо выгодоприобретателем или поручителем по которому является Клиент, а также для
                    заключения договора по инициативе Клиента или договора, по которому Клиент будет являться
                    выгодоприобретателем или поручителем; обработка персональных данных Клиента необходима для
                    осуществления прав и законных интересов Турагента или третьих лиц при условии, что при этом не
                    нарушаются права и свободы Клиента.&nbsp;<br>
                    7.6.&nbsp;В случае отзыва Клиентом согласия на обработку его персональных данных, и если сохранение
                    персональных данных более не требуется для целей обработки персональных данных Турагент обязан
                    прекратить их обработку и обеспечить прекращение такой обработки другим лицом, в частности
                    Туроператором, действующим по поручению Турагента, а также уничтожить персональные данные Клиента и
                    обеспечить их уничтожение другим лицом, действующим по поручению Турагента.&nbsp;<br>
                    7.7.&nbsp;Турагент уничтожает персональные данные Клиента, и обеспечивает их уничтожение другими
                    лицами, действующими по поручению Турагента, в следующие сроки: хранящиеся на электронных носителях
                    в течение тридцати дней со дня окончания установленного законодательством претензионного срока
                    обращения Клиента с жалобой на качество предоставленных ему туристских услуг; хранящиеся на бумажных
                    носителях и не отнесенные к разряду первичных бухгалтерских документов или иных документов,
                    подлежащих хранению по законодательству РФ, в течение тридцати дней со дня окончания срока исковой
                    давности по договору Клиент-Турагент; хранящиеся на бумажных носителях и отнесенные к разряду
                    первичных бухгалтерских документов либо документов, подлежащих хранению по законодательству РФ, в
                    течение тридцати дней со дня окончания срока их хранения, установленного нормами законодательства
                    РФ.&nbsp;<br>
                    <br>
                    <strong>Статья 8. ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ&nbsp;</strong><br>
                    <br>
                    8.1.&nbsp;Передача персональных данных Клиента осуществляется Турагентом исключительно для
                    достижения целей, определенных письменными договорами между Клиентом - Турагентом, в частности для
                    оказания услуг Клиенту по подбору, бронированию и предоставлению ему туристского продукта.&nbsp;<br>
                    8.2.&nbsp;Передача персональных данных Клиента третьим лицам осуществляется Турагентом только на
                    основании соответствующего договора с третьим лицом, существенным условием которого является
                    обязанность обеспечения третьим лицом конфиденциальности персональных данных Клиента и безопасности
                    персональных данных при их обработке.&nbsp;<br>
                    8.3.&nbsp;Турагент в договоре с Клиентом обуславливает право третьих лиц, которым Турагент передает
                    персональные данные Клиента, осуществлять трансграничную передачу персональных данных Клиента на
                    территории иностранных государств, которые он планирует посетить, в том числе и на территории
                    государств, не обеспечивающих адекватную защиту персональных данных.&nbsp;<br>
                    <br>
                    <strong>Статья 9. ХРАНЕНИЕ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТОВ&nbsp;</strong><br>
                    <br>
                    9.1.&nbsp;Персональные данные Клиентов могут храниться, как на бумажных носителях, так и в
                    электронном виде.&nbsp;<br>
                    9.2.&nbsp;Персональные данные Клиентов хранятся: в отделе Турагента, который принимает заявки
                    Клиентов на бронирование туристского продукта; в отделе, который осуществляет работу непосредственно
                    с Клиентами; в бухгалтерии Турагента; в юридическом отделе.&nbsp;<br>
                    9.3.&nbsp;Персональные данные Клиентов содержатся в следующих группах документов: письменные заявки
                    Клиентов на бронирование туристского продукта; письменные договора с Клиентами на реализацию им
                    туристского продукта; приложения к письменным договорам с Клиентами на реализацию им туристского
                    продукта; бухгалтерские документы, которыми оформляются сделки между Клиентом и Турагентом или
                    Турагентом и Туроператором; письменные претензии Клиентов по качеству предоставленных им туристских
                    услуг; письменные документы (судебные иски, возражения на иски, решения судебных инстанций и т.п.),
                    связанные с ведением судебного делопроизводства по искам Клиентов против Турагента либо Турагента
                    против Клиентов или Туроператора.&nbsp;<br>
                    9.4.&nbsp;Персональные данные Клиентов на бумажных носителях, если с них не снят на законном
                    основании режим конфиденциальности, хранятся в специально отведенных шкафах с замком.&nbsp;<br>
                    9.5.&nbsp;Ключи от шкафов хранятся у сотрудников, допущенных к работе с персональными данными
                    клиентов.&nbsp;<br>
                    9.6.&nbsp;Персональные данные Клиентов также хранятся в электронном виде: на машинных носителях
                    персональных данных, в электронных папках и файлах в ПК сотрудников отделов, перечисленных в п.9.2.
                    настоящей статьи, и допущенных к работе с персональными данными Клиентов.&nbsp;<br>
                    9.7.&nbsp;После достижения цели обработки персональных данных Турагент обязан прекратить обработку
                    персональных данных Клиентов и уничтожить их персональные данные.&nbsp;<br>
                    9.8.&nbsp;Персональные данные Клиентов, содержащиеся на бумажных носителях, уничтожаются по акту в
                    следующие сроки: хранящиеся на бумажных носителях и не отнесенные к разряду первичных бухгалтерских
                    документов или иных документов, подлежащих хранению по законодательству РФ, в течение тридцати дней
                    со дня окончания срока исковой давности по договору Клиент-Турагент или Клиент-Турагент; хранящиеся
                    на бумажных носителях и отнесенные к разряду первичных бухгалтерских документов либо документов,
                    подлежащих хранению по законодательству РФ, в течение тридцати дней со дня окончания срока их
                    хранения, установленного нормами законодательства РФ.&nbsp;<br>
                    9.9.&nbsp;Обработка персональных данных, содержащихся на электронных носителях информации,
                    прекращается, а сами персональные данные уничтожаются в течение тридцати дней со дня окончания
                    установленного законодательством претензионного срока обращения Клиента с жалобой на качество
                    предоставленных ему туристских услуг.&nbsp;<br>
                    <br>
                    <strong>Статья 10. ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ КЛИЕНТА&nbsp;</strong><br>
                    <br>
                    10.1.&nbsp;Право доступа к персональным данным Клиента у Турагента имеют: сам индивидуальный
                    предприниматель; работники индивидуального предпринимателя, допущенные к обработке персональных
                    данных Клиентов в соответствии с Перечнем сотрудников Турагента, имеющих доступ к персональным
                    данным Клиентов; другие сотрудники Турагента при выполнении ими своих служебных обязанностей, при
                    наличии соответствующего распоряжения индивидуального предпринимателя; клиент, как субъект
                    персональных данных.&nbsp;<br>
                    10.2.Перечень сотрудников Турагента, имеющих доступ к персональным данным Клиентов, определяется
                    приказом индивидуального предпринимателя.&nbsp;<br>
                    10.3.&nbsp;Доступ Клиента к своим персональным данным предоставляется при обращении либо при
                    получении запроса Клиента. Турагент обязан в течение тридцати дней с даты получения запроса сообщить
                    Клиенту информацию о наличии персональных данных о нем, и при необходимости предоставить возможность
                    ознакомления с ними, либо в течение этого же срока дать мотивированный отказ в предоставлении
                    информации.&nbsp;<br>
                    10.4.&nbsp;Турагент обязан сообщить в уполномоченный орган по защите прав субъектов персональных
                    данных по запросу этого органа необходимую информацию в течение тридцати дней с даты получения
                    такого запроса.&nbsp;<br>
                    10.5.&nbsp;При передаче персональных данных Клиента Турагент должен соблюдать следующие требования:
                    не сообщать персональные данные Клиента третьей стороне без письменного согласия Клиента, за
                    исключением случаев, установленных федеральным законом; предупредить лиц, получающих персональные
                    данные Клиента, о том, что эти данные могут быть использованы лишь в целях, для которых они
                    сообщены, и требовать от этих лиц подтверждения того, что это правило соблюдено; разрешать доступ к
                    персональным данным Клиентов только специально уполномоченным лицам, при этом указанные лица должны
                    иметь право получать только те персональные данные Клиентов, которые необходимы для выполнения
                    конкретных функций.&nbsp;<br>
                    10.6.&nbsp;Согласия Клиента на передачу его персональных данных третьим лицам не требуется в
                    случаях, когда это необходимо в целях предупреждения угрозы жизни и здоровью Клиента, и когда третьи
                    лица оказывают услуги Турагенту на основании заключенных договоров, а также в случаях, установленных
                    федеральным законом и настоящим Положением.&nbsp;<br>
                    10.7.&nbsp;Турагент обеспечивает ведение журнала учета выданных персональных данных Клиентов, в
                    котором фиксируются сведения о лице, которому передавались персональные данные Клиентов, дата
                    передачи персональных данных или дата уведомления об отказе в предоставлении персональных данных, а
                    также отмечается, какая именно информация была передана.&nbsp;<br>
                    <br>
                    <strong>Статья 11. ОТВЕТСТВЕННОСТЬ ЗА РАЗГЛАШЕНИЕ ИНФОРМАЦИИ, СОДЕРЖАЩЕЙ ПЕРСОНАЛЬНЫЕ ДАННЫЕ КЛИЕНТА&nbsp;</strong><br>
                    <br>
                    11.1.Турагент несет ответственность за разработку, введение и действенность соответствующих
                    требованиям законодательства норм, регламентирующих получение, обработку и защиту персональных
                    данных Клиента. Турагент закрепляет персональную ответственность сотрудников за соблюдением
                    установленного в организации режима конфиденциальности.&nbsp;<br>
                    11.2.Индивидуальный предприниматель несет ответственность за соблюдение сотрудниками норм,
                    регламентирующих получение, обработку и защиту персональных данных Клиента.&nbsp;<br>
                    11.3.&nbsp;Каждый сотрудник Турагента, получающий для работы документ, содержащий персональные
                    данные Клиента, несет единоличную ответственность за сохранность носителя и конфиденциальность
                    информации.&nbsp;<br>
                    11.4.&nbsp;Лица, виновные в нарушении норм, регулирующих получение, обработку и защиту персональных
                    данных Клиента, несут дисциплинарную, административную, гражданско-правовую или уголовную
                    ответственность в соответствии с федеральными законами.&nbsp;<br>
                    11.5.&nbsp;За неисполнение или ненадлежащее исполнение сотрудником по его вине возложенных на него
                    обязанностей по соблюдению установленного порядка обработки персональных данных Клиентов Турагент
                    вправе применять предусмотренные Трудовым кодексом дисциплинарные взыскания.&nbsp;<br>
                    11.6.&nbsp;Неправомерный отказ в предоставлении собранных в установленном порядке документов,
                    содержащих персональные данные Клиентов, либо несвоевременное предоставление таких документов или
                    иной информации в случаях, предусмотренных законом, либо предоставление неполной или заведомо ложной
                    информации может повлечь наложение на должностных лиц административного штрафа в размере,
                    определяемом Кодексом об административных правонарушениях.&nbsp;<br>
                    <br>
                    <strong>Статья 12. ОБЕСПЕЧЕНИЕ НЕОГРАНИЧЕННОГО ДОСТУПА К НАСТОЯЩЕМУ ПОЛОЖЕНИЮ, ОПРЕДЕЛЯЮЩЕМУ
                        ПОЛИТИКУ ТУРАГЕНТА В ОТНОШЕНИИ ОБРАБОТКИ ДАННЫХ КЛИЕНТОВ&nbsp;</strong><br>
                    <br>
                    12.1.Турагент с целью обеспечения неограниченного доступа к настоящему Положению, определяющему
                    политику ИП Поздеева Д. Н. в отношении обработки персональных данных Клиентов и в сфере реализуемых
                    мер по защите персональных данных, размещает текст настоящего Положения на своем сайте, а также в
                    "Уголке потребителя", который оборудован в офисах Турагента.&nbsp;<br>
                    <br>
                    <strong>Статья 13. СПИСОК ИСПОЛЬЗОВАННЫХ ЗАКОНОДАТЕЛЬНЫХ И НОРМАТИВНЫХ АКТОВ&nbsp;</strong><br>
                    <br>
                    Разработка настоящего Положения осуществлена в соответствии со следующими нормативными документами:&nbsp;<br>
                    1.&nbsp;Федеральный закон от 27 июля 2006 года № 152-ФЗ "О персональных данных".&nbsp;<br>
                    2.&nbsp;Федеральный закон от 27 июля 2006 года № 149-ФЗ "Об информации, информационных технологиях и
                    о защите информации".&nbsp;<br>
                    3.&nbsp;Федеральный закон от 19 декабря 2005 года № 160-ФЗ "О ратификации Конвенции Совета Европы "О
                    защите физических лиц при автоматической обработке персональных данных".&nbsp;<br>
                    4.&nbsp;Указ Президента Российской Федерации от 17 марта 2008 года № 351 "О мерах по обеспечению
                    информационной безопасности Российской Федерации при использовании
                    информационно-телекоммуникационных сетей международного информационного обмена".&nbsp;<br>
                    5.&nbsp;Указ Президента Российской Федерации от 6 марта 1997 года № 188 "Об утверждении Перечня
                    сведений конфиденциального характера".&nbsp;<br>
                    6.&nbsp;Постановление Правительства Российской Федерации от 17 ноября 2007 года № 781 "Об
                    утверждении Положения об обеспечении безопасности персональных данных при их обработке в
                    информационных системах персональных данных".&nbsp;<br>
                    7.&nbsp;Постановление Правительства РФ от 15 сентября 2008 года № 687 "Об утверждении положения об
                    особенностях обработки персональных данных, осуществляемой без использования средств автоматизации".
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'slavatur/js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'slavatur/js/main.js' %}"></script>
</body>
</html>
