{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="contacts-box">
        <h1>ТУРИСТИЧЕСКАЯ КОМПАНИЯ "СЛАВАТУР"</h1>
        <h3>ИП Ульянова Наталья Александровна</h3>
        <h4>+7 (343) 372-52-86</h4>
        <h4>г. Екатеринбург ул. Евгения Савкова 7</h4>
        <div class="ya-map">
            <iframe src="https://yandex.ru/map-widget/v1/-/CSvUe9D" width="100%" style="width:100%;" frameborder="1"
                    allowfullscreen="true"></iframe>
        </div>
    </div>
{% endblock %}
