{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="contacts-box">
        <h1>ТУРИСТИЧЕСКАЯ КОМПАНИЯ "СЛАВАТУР"</h1>
        <h3>ИП Ульянова Наталья Александровна</h3>
        <h4>+7 (343) 372-52-86, 372-52-86</h4>
        <h4>г. Екатеринбург ул. Хрустальногорская 84</h4>
        <div class="ya-map">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af94e1514e4e04488118562f25db47f33388c2bd2ff25d8017601b107f3a91811&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>        </div>
    </div>
{% endblock %}
