{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <h1>ONLINE заявка</h1>
    <p>Если вы не нашли подходящего тура или отеля, или вы хотите оставить заявку на горящий тур. Просто заполните форму
        ниже.</p>
    <p>В ближайшее время <b>наш менеджер</b> свяжется с Вами, <b>предложит оптимальный вариант отдыха</b> и ответит на
        все ваши вопросы.</p>
    <div class="form-box message-form">
        <form action="/order/order" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Имя</label>
                <input id="name" name="name" value="">
            </div>
            <div>
                <label for="tel">Телефон</label>
                <input id="tel" name="tel" value="">
            </div>
            <div>
                <label for="email">e-mail</label>
                <input id="email" name="email" value="">
            </div>
            <div>
                <label for="message">Сообщение</label>
                <textarea id="message" name="message" value=""></textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6LdsAZkUAAAAALJ97L_gnQuRD5P2fK6_YcmE3J4W"></div>

            <input type="submit" class="form-button" value="Отправить сообщение">
        </form>
    </div>
{% endblock %}
