<html>
  <head>
    <title>Slavatur</title>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <form action="/post_comment" method="POST">
      <div class="g-recaptcha" data-sitekey="6LebRHMUAAAAAJpd3AYI7XKidx-e7KfwstSiqrBu"></div>
      <br/>
      email
      <input name="email" value="1">
      name
      <input name="credentials" value="1">
      comment
      <input name="comment" value="1">
      <input type="submit" value="Submit">
      {% csrf_token %}
    </form>
  </body>
</html>

index main again