<html>
<head>
    <title>Slavatur</title>
    {% load staticfiles %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/static/slavatur/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'slavatur/style.css' %}"/>
</head>
<body>
<form action="/feedback/post_comment" method="POST">
    <div class="g-recaptcha" data-sitekey="6LfE748UAAAAANt1mzxh3sedQSetGXG-u20p2koe"></div>
    <br/>
    email
    <input name="email" value="1">
    name
    <input name="credentials" value="1">
    comment
    <input name="comment" value="1">
    <input type="submit" value="Submit">
    {% csrf_token %}
</form>
</body>
</html>

index main again