{% extends 'main/base.html' %}
{% load static %}

{% block content %}

		<div class="modules-block">
			<div class="center">
				<div class="module modele__podberite">
					<a href="#">
						<span>Подберите мне тур</span>
						<img src="{% static 'slavatur/img/podberite.jpg' %}">
					</a>
				</div>
				<div class="module modele__turi">
					<a href="#">
						<span>Горящие туры</span>
						<img src="{% static 'slavatur/img/gor-turi.jpg' %}">
					</a>
				</div>
				<div class="module modele__vizas">
					<a href="#">
						<span>Визы</span>
						<img src="{% static 'slavatur/img/vizas.jpg' %}">
					</a>
				</div>
				<div class="module modele__avtobus2">
					<a href="#">
						<span>Автобусные туры</span>
						<img src="{% static 'slavatur/img/avtobus2.jpg' %}">
					</a>
				</div>
				<div class="module modele__pred">
					<a href="#">
						<span>Предложение дня</span>
						<img src="{% static 'slavatur/img/pred_dnua.jpeg' %}">
					</a>
				</div>
			</div>
		</div>
{% endblock %}
