{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<h1>Визы</h1>
<p>ПОМОЩЬ В ОФОРМЛЕНИИ</p>
<p>Наши визовые услуги:</p>
<ul>
    <li>Консультации по подготовке необходимых документов для получения визы;</li>
    <li>Помощь в заполнении визовых анкет;</li>
    <li>Запись на собеседование;</li>
    <li>Оформление медицинских страховок;</li>
    <li>Подача документов в консульство;</li>
    <li>Получение документов из консульства. </li>
</ul>
<h2>Мы рады работать для Вас!</h2>
     <img class="visas-img" src="{% static 'slavatur/img/visas.jpg' %}">
{% endblock %}
